label {
    font-size: 1.2em;
}

input[type="text"] {
    padding: 8px 12px;
    border: 3px $c600 solid;
    width: 250px;

    &.button {
        border-right: none;
    }
    
    &::placeholder {
        color: $c600;
    }

    &.inputerror {
        border: 3px red solid;
    }
}

textarea {
    padding: 8px 12px;
    border: 3px $c600 solid;
    width: 100%;
    
    &::placeholder {
        color: $c600;
    }

    &.inputerror {
        border: 3px red solid;
    }
}

.errormessage {
    color: red;
    font-size: 1em;
}