select {
    color: $c700;
    border: none;
    padding: 7px 30px 7px 20px;
    font-size: 0.9em;
    background: url("../src/assets/images/select.png") 96% / 5% no-repeat $c500;
    appearance: none;
    margin: 20px 0;

    option {
        background-color: $white;
        color: $c300;
        padding: 5px;
    }
}