.select-dropdown {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    
    .select-selected {
        color: $c700;
        border: none;
        padding: 7px 30px 7px 20px;
        font-size: 0.9em;
        background: url("../src/assets/images/select.png") 96% / 5% no-repeat $c500;
        appearance: none;
        cursor: pointer;
        width: 170px;
    }

    .select-options {
        position: absolute;
        z-index: 1;
        width: 170px;
        
        li {
            background-color: $white;
            color: $c300;
            padding: 7px 30px 7px 20px;
            font-size: 0.9em;
            cursor: pointer;

            &:hover {
                background-color: $c750;
            }
        }
    }
}