h1.title {
    font-family: $font_medium;
}

h2.title {
    font-family: $font_medium;
    font-size: 1.25em;
}

h3.title {
    font-size: 1.75em;
    font-weight: bold;
}

h4.title {
    font-size: 1.3em;
}