@font-face {
  font-family: Choplin_ExtraLight;
  src: url(../src/assets/fonts/Choplin-ExtraLight-DEMO.otf);
}

@font-face {
  font-family: Choplin_Medium;
  src: url(../src/assets/fonts/Choplin-Medium-DEMO.otf);
}