nav {
	background-color: $c200;
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	height: 100vh;
	transition: 0.4s ease-in-out;
	overflow: hidden;
	z-index: 11;

	img {
		&:hover {
			cursor: pointer;
		}
	}

	.nav_hamburger {
		background-color: $c100;

		img {
			width: 60px;
			padding: 15px;
		}
	}

	.nav_util {
		padding: 15px 0;
		cursor: pointer;

		img {
			height: 50px;
			padding: 10px 15px;
		}

		span {
			color: $c600;
			font-size: 1.1em;
		}

		.nav_search, .nav_faq {
			&.active {
				background-color: $white;

				img, span {
					filter: brightness(50%);
				}
			}
		}
	}

	.nav_divider {
		margin: 0 5px;
		border-bottom: 3px solid $c300;
	}

	.nav_contact {
		padding: 15px 0;
		cursor: pointer;

		img {
			width: 60px;
			padding: 10px 15px;
		}

		span {
			color: $c600;
			font-size: 1.1em;
		}
	}

	.nav_categories {
		padding: 15px 0;

		a {
			img {
				width: 60px;
				padding: 15px;
				filter: brightness(0) invert(1);
			}

			&:hover img, &.router-link-exact-active img {
				filter: brightness(1);
			}
		}

		span {
			font-size: 1.1em;
		}
	}

	.nav_kowloon {
		position: relative;
		height: 68px;

		span {
			position: absolute;
			font-family: $font_extralight;
			font-size: 2.4em;
			color: $c600;
			margin: 12px;
			visibility: hidden;

			&.active {
				visibility: visible;
			}
		}
	}

	&.active {
		width: 250px;
		transition: 0.4s ease-in-out;
	}
}

.nav_hamburger_mobile {
	z-index: 2;
	display: none;
}


// lg: 992px to 1200px
@media only screen and (max-width: 1200px) {

}

// md: 768px to 992px
@media only screen and (max-width: 992px) {

}

// sm: 576px to 768px
@media only screen and (max-width: 768px) {

}

// xs: smaller than 576px
@media only screen and (max-width: 576px) {
	nav {
		width: 250px;
		transform: translateX(-250px);

		&.active {
			transform: translateX(0px);
		}
	}

	.nav_hamburger_mobile {
		display: block;
		position: fixed;
		top: 12px;
		left: 12px;
	}
}
