.article_filter {
    .article_filter_header {
        cursor: pointer;

        img {
            transform: rotate(-90deg);
            transition: 0.4s;
        }
        
        &.opened {
            img {
                transform: rotate(0deg);
            }
        }
    }

    .article_filter_content {
        border-bottom: 1px solid $c400;
        overflow: hidden;
        max-height: 175px;
        transition: 0.4s;

        &.closed {
            transition: 0.4s;
            max-height: 0;
        }

        .priceinput {
            position: relative;
            input {
                width: 100%;
                padding-left: 50px;
            }

            span {
                color: $black;
                position: absolute;
                top: calc(50% - 12px);
                left: 15px;
            }
        }
    }
}



// lg: 992px to 1200px
@media only screen and (max-width: 1200px) {

}

// md: 768px to 992px
@media only screen and (max-width: 992px) {

}

// sm: 576px to 768px
@media only screen and (max-width: 768px) {
    .article_filter {   
        .article_filter_content {
            max-height: 250px;
        }
    }
}

// xs: smaller than 576px
@media only screen and (max-width: 576px) {

}