.card-carousel {
    background-color: $c400;
    border: 1px solid $c550;
    padding: 5px;
    margin-bottom: 30px;

    .card-img {
        margin-bottom: 10px;
        img {
            width: 100%;
        }
    }

    .thumbnails {
        display: flex;

        .thumbnail-image {
            padding: 0 1px;
            
            img {
                width: 100%;
                cursor: pointer;
                border: 2px solid rgba($color: #000000, $alpha: 0);
                filter: brightness(50%);
            }

            &.active img {
                border: 2px solid $white;
                filter: brightness(100%);
            }

            span {
                font-size: 0.9em;
            }
        }        
    }
}