.category_overview {
    > div {
        border-right: 1px solid $c600;
        margin-bottom: 30px;

        &:last-child {
            border-right: none;
        }
    }
    p {
        font-family: $font_extralight;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
    }
}