.header {
	.VueCarousel {
		height: 600px;

		.VueCarousel-slide {
			transform: translateY(-180px);
			position: relative;

			img:first-child {
				position: absolute;
				z-index: 2;
				top: 220px;
				left: calc(50% - 144px);
			}

			img:last-child {
				width: 100%;
			}
		}

		.VueCarousel-pagination {
			transform: translateY(-80px);

			button {
				border: 2px solid $c500;
				padding: 0px !important;
				margin: 8px;
				width: 12px  !important;
				height: 12px  !important;

				&:focus {
					outline: none;
				}
			}
		}
	}
}

.header_logo {
	position: absolute;
	width: 280px;
	top: 30px;
	left: calc(50% - 140px);
}