.header {
	.VueCarousel {
		height: 600px;

		.VueCarousel-slide {
			transform: translateY(-180px);
			position: relative;
			overflow: hidden;

			img:first-child {
				position: absolute;
				z-index: 2;
				top: 220px;
				left: calc(50% - 144px);
			}

			img:last-child {
				width: 100%;
			}
		}

		.VueCarousel-pagination {
			transform: translateY(-80px);

			button {
				border: 2px solid $c500;
				padding: 0px !important;
				margin: 8px;
				width: 12px  !important;
				height: 12px  !important;

				&:focus {
					outline: none;
				}
			}
		}
	}

	.carousel-progession {
		position: relative;
		.carousel-progession-bar {
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: $white;
			opacity: 0.4;
			transform: translateY(-67px);
			z-index: 1;
		}

		.carousel-progession-progress {
			position: absolute;
			height: 3px;
			background-color: $black;
			opacity: 0.4;
			transform: translateY(-67px);
			animation: progression 5s linear infinite;
			z-index: 2;
		}
	}

	> img {
		width: 100%;
	}
}

@keyframes progression {
	from { width: 0%; }
	to { width: 100%; }
}



// lg: 992px to 1200px
@media only screen and (max-width: 1200px) {
	.header {
		.VueCarousel {
			height: 500px;
	
			.VueCarousel-slide {
				transform: translateY(-90px);

				img:first-child {
					top: 120px;
				}
			}
		}
	}
}

// md: 768px to 992px
@media only screen and (max-width: 992px) {
	.header {
		.VueCarousel {
			height: 400px;
	
			.VueCarousel-slide {
				transform: translateY(-90px);
			}
		}
	}
}

// sm: 576px to 768px
@media only screen and (max-width: 768px) {
	.header {
		.VueCarousel {
			height: 400px;
	
			.VueCarousel-slide {
				transform: translateY(0px);

				img:last-child {
					transform: scale(1.5);
				}
			}

			.VueCarousel-pagination {
				visibility: hidden;
			}
		}
	}
}

// xs: smaller than 576px
@media only screen and (max-width: 576px) {
	.header {
		.VueCarousel {
			height: 300px;
	
			.VueCarousel-slide {
				img:first-child {
					top: 90px;
				}

				img:last-child {
					transform: scale(2);
				}
			}
		}
	}
}
