.newsletter {
    > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $font_medium;
        background-image: url(../src/assets/images/Patroon_A.jpg);
        padding-top: 25px;
    }

    > div:last-child {
        background-color: $c500;
        padding: 35px 30px;

        h2 {
            font-size: 1.4em;
        }

        p {
            color: $c700;
        }
    }

    input[type="text"] {
        width: calc(100% - 46px);
    }
}



// lg: 992px to 1200px
@media only screen and (max-width: 1200px) {

}

// md: 768px to 992px
@media only screen and (max-width: 992px) {

}

// sm: 576px to 768px
@media only screen and (max-width: 768px) {
    .newsletter {  
        > div:last-child {
            padding: 30px 15px;
        }
    }
}

// xs: smaller than 576px
@media only screen and (max-width: 576px) {

}